In [1]:
sample="liberty"

In [2]:
sample*3

'libertylibertyliberty'

In [3]:
sample+" and freedom"

'liberty and freedom'

In [7]:
for i in sample:
    print("letter : ",i, sep = "")

letter : l
letter : i
letter : b
letter : e
letter : r
letter : t
letter : y

In [8]:
print(*enumerate(sample))

(0, 'l') (1, 'i') (2, 'b') (3, 'e') (4, 'r') (5, 't') (6, 'y')

In [9]:
sample.count("i")

1

In [10]:
sample.count("a")

0

In [11]:
sorted(sample)

['b', 'e', 'i', 'l', 'r', 't', 'y']

TypeError: sorted expected 1 argument, got 7

In [13]:
"123".isdigit()

True

In [14]:
"123a".isdigit()

False

In [15]:
turkish_exp = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [16]:
uncorrect_letters = "çÇğĞıİöÖşŞüÜ"
correct_letters= "cCgGiIoOsSuU"

In [17]:
alphabet_correction = str.maketrans(uncorrect_letters, correct_letters)

In [18]:
turkish_exp.translate(alphabet_correction)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

In [21]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

print(text)
text

A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [ ]:
metin.split()

In [22]:
text.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [23]:
v_text=text.split("\n")

In [24]:
import pandas as pd
v=pd.Series(v_text)

In [25]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [26]:
v=v[1:len(v)]

In [27]:
v

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [28]:
tdf=pd.DataFrame(v,columns=["stories"])

In [29]:
tdf

                                  stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [39]:
d_tdf=tdf["stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [42]:
d_tdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [45]:
tdf["stories"].apply(lambda x: "".join(x.lower()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [48]:
d_tdf=d_tdf.str.replace("[^\w\s]","")

C:\Users\emrehan\AppData\Local\Temp/ipykernel_6432/261140904.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_tdf=d_tdf.str.replace("[^\w\s]","")

In [49]:
d_tdf= d_tdf.str.replace("\d","")

C:\Users\emrehan\AppData\Local\Temp/ipykernel_6432/2422300225.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_tdf= d_tdf.str.replace("\d","")

In [50]:
d_tdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: stories, dtype: object

In [51]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\emrehan\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\emrehan\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [52]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [53]:
from nltk.corpus import stopwords

In [54]:
sw = stopwords.words("english")

In [56]:
d_tdf=d_tdf.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [57]:
d_tdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: stories, dtype: object

In [60]:
d_tdf = pd.DataFrame(d_tdf, columns = ["stories"])

In [61]:
d_tdf

                      stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [62]:
pd.Series(" ".join(d_tdf["stories"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [63]:
delete_part = pd.Series(" ".join(d_tdf["stories"]).split()).value_counts()[-3:]

In [64]:
delete_part

league       1
redheaded    1
beeches      1
dtype: int64

In [66]:
d_tdf["stories"].apply(lambda x: " ".join(i for i in x.split() if i not in delete_part))

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: stories, dtype: object

In [67]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [68]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\emrehan\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\emrehan\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [69]:
import textblob

In [70]:
from textblob import TextBlob

In [71]:
TextBlob(d_tdf["stories"][1]).words

WordList(['scandal', 'bohemia'])

In [73]:
d1_tdf=d_tdf["stories"].apply(lambda x: TextBlob(x).words)

In [77]:
d2_tdf=pd.DataFrame(d1_tdf)

In [79]:
type(d2_tdf)

pandas.core.frame.DataFrame