In [17]:
sample="liberty"

In [18]:
sample*3

'libertylibertyliberty'

In [19]:
sample+" and freedom"

'liberty and freedom'

In [20]:
for i in sample:
    print("letter : ",i, sep = "")

letter : l
letter : i
letter : b
letter : e
letter : r
letter : t
letter : y

In [21]:
print(*enumerate(sample))

(0, 'l') (1, 'i') (2, 'b') (3, 'e') (4, 'r') (5, 't') (6, 'y')

In [22]:
sample.count("i")

1

In [23]:
sample.count("a")

0

In [24]:
sorted(sample)

['b', 'e', 'i', 'l', 'r', 't', 'y']

In [25]:
"123".isdigit()

True

In [26]:
"123a".isdigit()

False

In [27]:
turkish_exp = "Bu ifade İçerisinde bağzı TÜrkçe karakterler vardır"

In [28]:
uncorrect_letters = "çÇğĞıİöÖşŞüÜ"
correct_letters= "cCgGiIoOsSuU"

In [29]:
alphabet_correction = str.maketrans(uncorrect_letters, correct_letters)

In [30]:
turkish_exp.translate(alphabet_correction)

'Bu ifade Icerisinde bagzi TUrkce karakterler vardir'

In [31]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

print(text)
text

A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [32]:
text.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [33]:
v_text=text.split("\n")

In [34]:
import pandas as pd
v=pd.Series(v_text)

In [35]:
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [36]:
v=v[1:len(v)]

In [37]:
v

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [38]:
tdf=pd.DataFrame(v,columns=["stories"])

In [39]:
tdf

                                  stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [40]:
d_tdf=tdf["stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [41]:
d_tdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [42]:
tdf["stories"].apply(lambda x: "".join(x.lower()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: stories, dtype: object

In [43]:
d_tdf=d_tdf.str.replace("[^\w\s]","")

C:\Users\emrehan\AppData\Local\Temp/ipykernel_9596/261140904.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_tdf=d_tdf.str.replace("[^\w\s]","")

In [44]:
d_tdf= d_tdf.str.replace("\d","")

C:\Users\emrehan\AppData\Local\Temp/ipykernel_9596/2422300225.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  d_tdf= d_tdf.str.replace("\d","")

In [45]:
d_tdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: stories, dtype: object

In [46]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\emrehan\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\emrehan\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\emrehan\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [47]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [48]:
from nltk.corpus import stopwords

In [49]:
sw = stopwords.words("english")

In [50]:
d_tdf=d_tdf.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [51]:
d_tdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: stories, dtype: object

In [52]:
d_tdf = pd.DataFrame(d_tdf, columns = ["stories"])

In [53]:
d_tdf

                      stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [54]:
pd.Series(" ".join(d_tdf["stories"]).split()).value_counts()

adventure    6
scandal      1
bohemia      1
copper       1
coronet      1
beryl        1
bachelor     1
noble        1
thumb        1
engineers    1
band         1
speckled     1
carbuncle    1
blue         1
lip          1
twisted      1
man          1
pips         1
orange       1
five         1
mystery      1
valley       1
boscombe     1
identity     1
case         1
league       1
redheaded    1
beeches      1
dtype: int64

In [55]:
delete_part = pd.Series(" ".join(d_tdf["stories"]).split()).value_counts()[-3:]

In [56]:
delete_part

league       1
redheaded    1
beeches      1
dtype: int64

In [57]:
d_tdf["stories"].apply(lambda x: " ".join(i for i in x.split() if i not in delete_part))

1               scandal bohemia
2
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12             adventure copper
Name: stories, dtype: object

In [58]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [59]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\emrehan\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\emrehan\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\emrehan\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\emrehan\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [60]:
import textblob

In [61]:
from textblob import TextBlob

In [62]:
TextBlob(d_tdf["stories"][1]).words

WordList(['scandal', 'bohemia'])

In [63]:
d1_tdf=d_tdf["stories"].apply(lambda x: TextBlob(x).words)

In [64]:
d2_tdf=pd.DataFrame(d1_tdf)

In [65]:
type(d2_tdf)

pandas.core.frame.DataFrame

In [66]:
d2_tdf

                          stories
1              [scandal, bohemia]
2             [redheaded, league]
3                [case, identity]
4     [boscombe, valley, mystery]
5            [five, orange, pips]
6             [man, twisted, lip]
7    [adventure, blue, carbuncle]
8     [adventure, speckled, band]
9   [adventure, engineers, thumb]
10   [adventure, noble, bachelor]
11    [adventure, beryl, coronet]
12   [adventure, copper, beeches]

In [67]:
d1_tdf

1                [scandal, bohemia]
2               [redheaded, league]
3                  [case, identity]
4       [boscombe, valley, mystery]
5              [five, orange, pips]
6               [man, twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: stories, dtype: object

In [70]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

d_tdf["stories"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2              redhead leagu
3                 case ident
4     boscomb valley mysteri
5             five orang pip
6              man twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: stories, dtype: object

In [71]:
d_tdf

                      stories
1             scandal bohemia
2            redheaded league
3               case identity
4     boscombe valley mystery
5            five orange pips
6             man twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [72]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [74]:
d_tdf["stories"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

1              scandal bohemia
2             redheaded league
3                case identity
4      boscombe valley mystery
5              five orange pip
6              man twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: stories, dtype: object

In [75]:
d_tdf["stories"]

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: stories, dtype: object

In [76]:
text = "R and Python are useful data science tools for the new or old data scientists who eager to do efficent data science task"

In [77]:
TextBlob(text).ngrams(3)

[WordList(['R', 'and', 'Python']),
 WordList(['and', 'Python', 'are']),
 WordList(['Python', 'are', 'useful']),
 WordList(['are', 'useful', 'data']),
 WordList(['useful', 'data', 'science']),
 WordList(['data', 'science', 'tools']),
 WordList(['science', 'tools', 'for']),
 WordList(['tools', 'for', 'the']),
 WordList(['for', 'the', 'new']),
 WordList(['the', 'new', 'or']),
 WordList(['new', 'or', 'old']),
 WordList(['or', 'old', 'data']),
 WordList(['old', 'data', 'scientists']),
 WordList(['data', 'scientists', 'who']),
 WordList(['scientists', 'who', 'eager']),
 WordList(['who', 'eager', 'to']),
 WordList(['eager', 'to', 'do']),
 WordList(['to', 'do', 'efficent']),
 WordList(['do', 'efficent', 'data']),
 WordList(['efficent', 'data', 'science']),
 WordList(['data', 'science', 'task'])]

In [78]:
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [80]:
TextBlob(d_tdf["stories"][1]).tags

[('scandal', 'NN'), ('bohemia', 'NN')]

In [81]:
d_tdf["stories"].apply(lambda x: TextBlob(x).tags)

1                        [(scandal, NN), (bohemia, NN)]
2                      [(redheaded, VBN), (league, NN)]
3                          [(case, NN), (identity, NN)]
4         [(boscombe, NN), (valley, NN), (mystery, NN)]
5               [(five, CD), (orange, NN), (pips, NNS)]
6                [(man, NN), (twisted, VBD), (lip, NN)]
7        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
8        [(adventure, NN), (speckled, VBD), (band, NN)]
9     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
10       [(adventure, NN), (noble, JJ), (bachelor, NN)]
11        [(adventure, NN), (beryl, NN), (coronet, NN)]
12      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: stories, dtype: object

In [82]:
pos = TextBlob(text).tags

In [83]:
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('old', 'JJ'),
 ('data', 'NNS'),
 ('scientists', 'NNS'),
 ('who', 'WP'),
 ('eager', 'VBP'),
 ('to', 'TO'),
 ('do', 'VB'),
 ('efficent', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('task', 'NN')]

In [84]:
reg_exp = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_exp)

In [85]:
results = rp.parse(pos)

In [86]:
results

The Ghostscript executable isn't found.
See http://web.mit.edu/ghostscript/www/Install.htm
If you're using a Mac, you can try installing
https://docs.brew.sh/Installation then `brew install ghostscript`

LookupError:

Tree('S', [('R', 'NNP'), ('and', 'CC'), ('Python', 'NNP'), ('are', 'VBP'), ('useful', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), ('tools', 'NNS'), ('for', 'IN'), ('the', 'DT'), ('new', 'JJ'), ('or', 'CC'), ('old', 'JJ'), ('data', 'NNS'), ('scientists', 'NNS'), ('who', 'WP'), ('eager', 'VBP'), ('to', 'TO'), ('do', 'VB'), ('efficent', 'JJ'), ('data', 'NNS'), Tree('NP', [('science', 'NN')]), Tree('NP', [('task', 'NN')])])

In [87]:
print(results)

(S
  R/NNP
  and/CC
  Python/NNP
  are/VBP
  useful/JJ
  data/NNS
  (NP science/NN)
  tools/NNS
  for/IN
  the/DT
  new/JJ
  or/CC
  old/JJ
  data/NNS
  scientists/NNS
  who/WP
  eager/VBP
  to/TO
  do/VB
  efficent/JJ
  data/NNS
  (NP science/NN)
  (NP task/NN))

In [ ]:
results.draw()

In [89]:
import pandas as pd 
data = pd.read_csv("train.tsv",sep = "\t")

In [91]:
#convert to lower case
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))

#remove punctions
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')

#remove numericals
data['Phrase'] = data['Phrase'].str.replace('\d','')

#remove stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

C:\Users\emrehan\AppData\Local\Temp/ipykernel_9596/3909847101.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')
C:\Users\emrehan\AppData\Local\Temp/ipykernel_9596/3909847101.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('\d','')

In [92]:
data['Phrase'].head()

0    series escapades demonstrating adage good goos...
1      series escapades demonstrating adage good goose
2                                               series
3
4                                               series
Name: Phrase, dtype: object

In [94]:
remove_list=pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]

In [95]:
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in remove_list))

In [96]:
#lemmatzation
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [99]:
data['Phrase'].head(10)

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

In [101]:
#tf1 = (data["Phrase"]).apply(lambda x: 
#                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()