In [1]:
import pandas as pd
data=pd.read_csv("train.tsv",sep="\t")
data.head(10)

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
5,6,1,of escapades demonstrating the adage that what...,2
6,7,1,of,2
7,8,1,escapades demonstrating the adage that what is...,2
8,9,1,escapades,2
9,10,1,demonstrating the adage that what is good for ...,2

In [6]:
data.Phrase[100]

'would have a hard time sitting through this one .'

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [4]:
#upper-lowe case transformation
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#extraxt punctions
data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')
#stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
sw = stopwords.words('english')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
#delete rares
delete= pd.Series(' '.join(data['Phrase']).split()).value_counts()[-1000:]
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join(x for x in x.split() if x not in delete))
#delete numbers
data['Phrase'] = data['Phrase'].str.replace('\d','')
#lemmi
from textblob import Word
#nltk.download('wordnet')
data['Phrase'] = data['Phrase'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['Phrase'].head(10)

C:\Users\emrehan\AppData\Local\Temp/ipykernel_5820/1953816736.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('[^\w\s]','')
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\emrehan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
C:\Users\emrehan\AppData\Local\Temp/ipykernel_5820/1953816736.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Phrase'] = data['Phrase'].str.replace('\d','')

0    series escapade demonstrating adage good goose...
1       series escapade demonstrating adage good goose
2                                               series
3
4                                               series
5              escapade demonstrating adage good goose
6
7              escapade demonstrating adage good goose
8                                             escapade
9                       demonstrating adage good goose
Name: Phrase, dtype: object

In [2]:
import timeit

In [7]:
tic=timeit.default_timer()
subdata1=data["Phrase"].head(71000)
tf1 = (subdata1).apply(lambda x: 
                             pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
timeit.default_timer()-tic

MemoryError: Unable to allocate 89.0 KiB for an array with shape (11388,) and data type int64

In [27]:
tf1

              index      0
0              good  868.0
1            series  106.0
2          escapade   16.0
3     demonstrating   13.0
4             adage   14.0
...             ...    ...
8118          denis    5.0
8119     inevitably    1.0
8120          attic    1.0
8121   claustrophic    1.0
8122      consigned    1.0

[8123 rows x 2 columns]

2.2700000045006163e-05