In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)',
 'Requirement already satisfied: six in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython-sql) (1.4.22)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython-sql) (7.29.0)',
 'Collecting sqlparse',
 '  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Collecting prettytable<1',
 '  Downloading prettytable-0.7.2.zip (28 kB)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)',
 'Requirement already satisfied: backcall in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: matplotlib-inline in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: pygments in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)',
 'Requirement already satisfied: decorator in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: colorama in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\user07\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)',
 'Requirement already satisfied: wcwidth in c:\\users\\user07\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\user07\\anaconda3\\lib\\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Building wheels for collected packages: prettytable',
 '  Building wheel for prettytable (setup.py): started',
 "  Building wheel for prettytable (setup.py): finished with status 'done'",
 '  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=e3021e120ef687bf31b28c98b6f4410f451fdca04efea11d510915618b9297d0',
 '  Stored in directory: c:\\users\\user07\\appdata\\local\\pip\\cache\\wheels\\75\\f7\\28\\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b',
 'Successfully built prettytable',
 'Installing collected packages: sqlparse, prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2']

In [2]:
%load_ext sql

In [5]:
%sql sqlite:///DSS.db

In [6]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///DSS.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [7]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///DSS.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]